<center>

<br>

<br>
<br>
<% monster_number = Monster.count %>
<% location_count = Location.count('address', :distinct => true) %>
<h1>Welcome to the Copyrighted Monster Locator. </h1>
</h3>We found <%= monster_number %> copyrighted monsters in the wild. <br>
So far.</h3>
<br>
<br>
<br>

<%= link_to "GOT A NEW LOCATION?", new_location_path %> <br>
<%= link_to "SEE ALL THE LOCATIONS", controller: "locations" %> |
<%= link_to "SEE ALL THE MONSTERS", monsters_path %>

</center>
