<center>

<br>

<br>
<br>
<% monster_number = Monster.count %>
<h1>We've seen <%= monster_number %> copyrighted monsters in the wild.</h1> <br>
<h2>So far.</h2>
<br>
<br>
<br>


<%= link_to "SEE ALL THE LOCATIONS", controller: "locations" %> |
<%= link_to "GOT A NEW LOCATION?", new_location_path %> |

</center>
