<center>

<br>

<p>
  <strong>ADDRESS</stong>
  <%= @location.address %>
</p>

<p>
  <strong>NAME</strong>
  <%= @location.name %>
</p>

<td><%= link_to 'EDIT', edit_location_path %></td>
<td><%= link_to 'BACK', locations_path %></td>

</center>
